*
{
margin:0;
padding:0;	
	
}
body
{
background-color:#6988E6;
font-family: Times new roman,Segoe UI Light,Calibri;
font-size=12;
}
h1
{
font-family: Times new roman,Calibri,Segoe UI Light;
font-size=16px;
color:Black;	
}
table
{
width:100%;	
	
}
td{
	
	vertical-align:top;
}
ul{
	list-style:none;
	margin-top:0px;
	
}
ul li
{
font-family: Times new roman,Calibri,Georgia,Serif;
font-size:18px;	
}

ul li a
{
display:block;
background-color:#A9F5D0;
color:black;
height:30px;
width:150px;
padding-left:10px;
}
ul li a:hover 
{
	-moz-transform:(-5deg);
	-moz-box-shadow:10px 10px 20px 20px #BDB3A7;
	-webkit-transform:rotate(-5deg);
	-webkit-box-shadow:10px 10px 20px 20px #BDB3A7;
	
	transform:rotate(4deg);
    box-shadow:10px 10px 20px 20px #BDB3A7;
    margin-left:10px;		
}

table td div 
{
width:500px;
height:220px;
background-color:#A9F5D0;
border:3px solid #999999;
border-radius:15px 0px 20px 0px ;
margin:10px;
padding:15px;
box-shadow:2px 2px 5px #C0C2C3;
}

.encabezado
{
width:1024px;
height:100px;
background-color:#0489B1;	
	
}
.piedepagina
{
width:100%;
height:100px;
background-color:#0489B1;	
	
}